extends ../config/template
append config
  -pageTitle = title
  -descripcion = 'Página principal de la web'
  -headerImgPath = '/img/pcBanner3.jpg'


    
block main
  include ../includes/header
  .container-main
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt eius hic obcaecati alias! Culpa fugit facilis, ea ex blanditiis alias accusamus temporibus! In quibusdam voluptatibus aperiam velit rerum dolore provident.
