extends ../../config/template
append config
  -pageTitle = title
  
block main
  .container-main
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt eius hic obcaecati alias! Culpa fugit facilis, ea ex blanditiis alias accusamus temporibus! In quibusdam voluptatibus aperiam velit rerum dolore provident.